body{
    background-color: rgb(248, 87, 154);
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
